{% include "global/partials/head.html" %}
{% if not error_mensagem %}
<form action={% url "dados" %} method="post">
    {% csrf_token %}
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Modelo</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" name="nome_modelo" id="staticEmail" value= {{nome_modelo}}>
        </div>
    </div>
    {% for ref,val,defal in dados_comp %}
    <div class="input-group mb-3">
        <label for="staticEmail" class="col-sm-2 col-form-label">{{ref}}</label>
        <input type="text" class="form-control" name={{val}} value='{{defal}}' aria-label="Text input with checkbox">
    </div>
    
    {% endfor %}
    <div class="input-group mb-3">
      <label for="staticEmail" class="col-sm-2 col-form-label">Caminho de Saída</label>
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
      </div>
      <input type="text" class="form-control" name="caminho_saida" aria-label="Text input with checkbox">
  </div>
  <div class="input-group mb-3">
    <label for="staticEmail" class="col-sm-2 col-form-label">Nome do Arquivo</label>
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
    </div>
    <input type="text" class="form-control" name="arquivo_saida" aria-label="Text input with checkbox">
</div>
    <div>
        <button type="submit" value='formulario_dados' name='botao' class="btn btn-dark">Enviar</button>
    </div>
</form>
{% else %}
    <div>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{error_mensagem}}
            </div>
        </div>
    </div>
{% endif %}
{% include "global/partials/fim.html" %}