{% include "global/partials/head.html" %}
{% if not error_mensagem %}
    <div>
        <form action={% url "modificar" %} method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Modelo</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" name="nome_modelo_antigo" value='{{nome_modelo}}'>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nome_modelo" value={% block nome_modelo %}{{nome_modelo}}{% endblock nome_modelo %}>
                </div>
            </div>
            {% for campos in dados_comp %}
            <div class="row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Variavel:</label>
                <div class="col">
                  <input type="text" class="form-control" name="variavel" value='{{campos.1}}' placeholder="Nome da Variavel" aria-label="Nome da Variavel">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="ref_variavel" value='{{campos.0}}' placeholder="Referencia da Variavel" aria-label="Referencia da Variavel">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="default_variavel" value='{{campos.2}}' placeholder="Valor Padrão da Variavel" aria-label="Valor Padrão da Variavel">
                </div>
              </div>
            {% endfor %}
            <div>
                <button type="submit" value='modificando_modelo' name='botao' class="btn btn-dark">Enviar</button>
            </div>
        </form>
    </div>
{% else %}
    <div>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{error_mensagem}}
            </div>
        </div>
    </div>
{% endif %}

{% include "global/partials/fim.html" %}