{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "estilo.css" %}">
        <title>Gerador de Word</title>
    </head>
    <body>
        <h2>Formulário de Geração</h2>
        <div class="sidebar">
            <h2>Menu Lateral</h2>
            <ul>
                {% for pas,sub,arq in modelos %}
                    {% for arquivos in arq %}
                        <li>
                            <a href="#">{{ arquivos }}<a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    
        <div class="main-content">
            <h1>Conteúdo Principal</h1>
            <p>Este é o conteúdo principal da página. A barra lateral pode ser usada para navegação ou outras informações importantes.</p>
        </div>

        <!-- <form action={% url "dados" %} method="post">
            {% csrf_token %}
            <label for="aaa">Data:</label>
            <input type="text" id="aaa" name="aaa" required>

            <label for="bbb">Numero da Carta:</label>
            <input type="text" id="bbb" name="bbb" required>

            <label for="ccc">Assunto:</label>
            <input type="text" id="ccc" name="ccc">

            <label for="ddd">Apresentação da Carta:</label>
            <input type="text" id="ddd" name="ddd">

            <label for="yyy">Numero da Fatura:</label>
            <input type="text" id="yyy" name="yyy">

            <label for="fff">Período de inicio:</label>
            <input type="text" id="fff" name="fff">

            <label for="ggg">Período de Final:</label>
            <input type="text" id="ggg" name="ggg">

            <label for="hhh">Valor:</label>
            <input type="text" id="hhh" name="hhh" required>

            <label for="xxx">Numero da Medição:</label>
            <input type="text" id="xxx" name="xxx" required>

            <label for="nome_modelo">Modelo do Documento(Sem a Extensão):</label>
            <input type="text" id="nome_modelo" name="nome_modelo" required>

            <label for="caminho_saida">Caminho de Saída do Arquivo:</label>
            <input type="text" id="caminho_saida" name="caminho_saida" required>

            <label for="arquivo_saida">Nome do Arquivo:</label>
            <input type="text" id="arquivo_saida" name="arquivo_saida" required>


            <button type="submit">Enviar</button>
        </form> -->